.ReasonsCont {
  margin: 0 9.6078%;
}

.ReasonsCont h2 {
  font-size: 2.25rem;
  line-height: 2.625rem;
  font-weight: bold;
  text-align: center;
  margin: 3.75rem 0 3.125rem 0;
}

.ReasonsFlex {
  margin-bottom: 160px; /*75px of margin-top of aboutus container*/
  /* Layout */
  display: flex;
  gap: 4.125rem;
}
.ReasonsCard {
  border: 1.4px solid #e0e3eb;
  box-sizing: border-box;
  border-radius: 4px;
  /* Auto Layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px 20px 40px;
}
.ReasonsCard > * {
  margin-bottom: 1.125rem;
}
.ReasonsCard h3 {
font-size: 1.25rem;
line-height: 1.4375rem;
}
.ReasonsCard p {
  color: #858EAD;
  font-size: 1rem;
  line-height: 1.1875rem;
}
