.ProjectsCont {
  padding: 85px 0 140px;
}
.ProjectsCont h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 40px;
}
.ProjectsGrid {
  display: grid;
  grid-template-columns: 1fr 1.25fr 1.25fr;
  grid-template-rows: repeat(2, 1fr) auto;
  gap: 35px;
  grid-template-areas:
    "projects card1 card2"
    "projects card3 card4"
    "projects bottom bottom"
    ;
}
.Card img {
  width: 100%;
}
.Card1 {
  grid-area: card1;
}
.Card2 {
  grid-area: card2;
}
.Card3 {
  grid-area: card3;
}
.Card4 {
  grid-area: card4;
}

.Description {
  background: #2947a9;
  color: #fff;
  padding: 12px 12px 16px;
}
.Description h4 {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 12px;
}
.Description p {
  font-size: 18px;
  line-height: 21px;
}

.Projects {
  grid-area: projects;
  padding-left: 16px;
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 20px;
}
.Projects h3 {
  color: #c2c7d6;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}
.Projects h3:first-of-type {
  color: #2947a9;
}
.ProjectsBorder {
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 28px;
  background: #2947a9;
}

.ProjectsBottom {
  grid-area: bottom;
}
.BottomInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.BottomInner button {
  background-color: #292e3d;
  color: #fff;
  font-size: 1.125rem; /*18px*/
  line-height: 1.3125rem; /*21px*/
  border: none;
  width: 220px;
  padding: 20px 100px;
  /* layouting button */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.625rem;
}
.BottomCircles {
  display: flex;
  align-items: center;
  gap: 30px;
}
.Circles {
  background: #f6f8f7;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}
.Circles:first-of-type {
  background: #2947a9;
}
