.AdCont {
  width: 100%;
  background: url(../../assets/images/bg_ad.png);
  background-size: contain;
  padding: 100px 0;
  /* padding-top: 20.8%; */
}
.InnerAd {
  color: #fff;
  padding: 0 7.78%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.InnerAd h2 {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  margin-bottom: 30px;
}
.InnerAd p {
  font-size: 24px;
  line-height: 28px;
}
.InnerAd button {
  background-color: transparent;
  color: #fff;
  padding: 16px 20px;
  font-weight: 600;
font-size: 18px;
line-height: 21px;
border: 2px solid #FFFFFF;
border-radius: 2px;
}
