/* Color Pallete | TheBox */

$primary: #2947A9;
$secondary: #F9995D;

/* Grays */
$neutral-900: #14171F;
$neutral-800: #292E3D;
$neutral-700: #3D445C;
$neutral-600: #525B7A;
$neutral-500: #667299;
$neutral-400: #858EAD;
$neutral-300: #A3AAC2;
$neutral-200: #C2C7D6;
$neutral-100: #E0E3EB;
$neutral-50: #F6F8F7;

$white: #fff;
