/* Font Sizes | TheBox */

/* Headings */
$heading-1: 4.5rem;   /* 72px */
$heading-2: 3.75rem;  /* 60px */
$heading-3: 3rem;     /* 48px */
$heading-4: 2.25rem;  /* 36px */
$heading-5: 1.875rem; /* 30px */

/* Paragraps */
$large: 1.5rem;     /* 24px */
$medium: 1.25rem;   /* 20px */
$default: 1.125rem; /* 18px */

$subtitle: 1.25rem;   /* 20px */
$caption: 1rem;       /* 16px */
