*,
*::before,
*::after {
    box-sizing: border-box;
}
html:focus-within {
    scroll-behavior: smooth;
}
body {
    min-height: 100vh;
    line-height: 1.5;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
img,
picture {
    max-width: 100%;
    display: block;
}
input,
button,
textarea,
select {
    color: inherit;
    font: inherit;
    font-size: inherit;
    letter-spacing: inherit;
}
:where(a[href], area, button, input, label[for], select, summary, textarea, [tabindex]:not([tabindex*="-"])) {
    cursor: pointer;
    touch-action: manipulation;
}
:where(input[type="file"]) {
    cursor: auto;
}
:where(input[type="file"])::-webkit-file-upload-button,
:where(input[type="file"])::file-selector-button {
    cursor: pointer;
}
:where(button, input)[disabled] {
    cursor: not-allowed;
}
table {
    border-collapse: collapse;
    overflow: hidden;
}
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}