@use "@scss/abstracts" as *;

.cta {
    padding: 60px 16px;
    background-color: map-get($clr-neutral, 50);
    & .cta-container {
        max-width: 592px;
        margin: 0 auto;
        @include flex($justify: start, $align: stretch, $direction: col);

        & h2,
        & p {
            color: map-get($clr-neutral, 800);
            text-align: center;
        }

        & h2 {
            line-height: 42px;
            margin-bottom: 20px;
        }
        & p {
            margin-bottom: 38px;
        }

        & .input-grid {
            display: grid;
            grid-template-columns: repeat(
                auto-fit,
                minmax(min(100%, 280px), 1fr)
            );
            gap: 20px 32px;
            margin-bottom: 20px;

            & .dropdown {
                position: relative;
                & select {
                    -webkit-appearance: none;
                    -moz-appearance: none;
                    text-indent: 1px;
                    text-overflow: "";
                    width: 100%;
                    height: 100%;
                }
                & img {
                    position: absolute;
                    z-index: 10;
                    top: 50%;
                    right: 8px;
                    transform: translateY(-50%);
                }
            }
        }

        & .textarea {
	    resize: none;
            width: 100% !important;
            height: 135px !important;
            margin-bottom: 8px;
        }

        & .dropdown select,
        & .dropdown select option,
        & .textarea::placeholder,
        & input::placeholder {
            color: map-get($clr-neutral, 300);
        }
        & .dropdown select,
        & .textarea,
        & input {
            padding: 7px 8px;
            background-color: $clr-white;
            border: 1px solid map-get($clr-neutral, 100);
            border-radius: 4px;
            outline: none;
        }
        & .dropdown select:focus,
        & .textarea:focus,
        & input:focus {
            box-shadow: 0px 0px 0px 3px #697ec3, -0px -0px 0px 3px #697ec3;
        }

        & span {
            margin-bottom: 28px;
        }

        & .estarric {
            color: $clr-red;
        }

        & button {
            border: none;
            background-color: $clr-primary;
            color: $clr-white;
            align-self: center;
            padding: 16px 104px;
            font-weight: 600;
        }
    }
}
