.NavContainer {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.NavContainer .Left {
  display: flex;
  gap: 0.875rem;
}
.Heading {
  font-size: 1.875rem;
  font-weight: 700;
  color: #2947a9;
}
.Heading span {
  font-style: italic;
}

.NavContainer .Left img {
  width: 2.375rem;
  height: auto;
}

.NavContainer .Right {
  width: 47.45065%;
  display: flex;
  justify-content: space-between;
}

a {
  font-size: 1.125rem;
  text-decoration: none;
  font-weight: 400;
  color: #14171f;
}

a:last-child {
  color: #f9995d;
}
