/* For Creating media query breakpoints easily */

$breakpoints: (
    "xs": 400px,
    "sm": 520px,
    "rg": 640px,
    "md": 768px,
    "lg": 1024px,
    "xl": 1280px,
    "2xl": 1440px,
);
@mixin breakpoint($width, $type: min) {
    @if map-has-key($breakpoints, $width) {
        $width: map-get($breakpoints, $width);
        @if $type == max {
            $width: $width - 1px;
        }
        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}

@mixin text-shorten($lines: 1) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: $lines; /* specify number of lines here */
    -webkit-box-orient: vertical;
}

@mixin antialias {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

@mixin font-face($name, $file) {
    @font-face {
        font-family: $name;
        src: url($file);
    }
}

@mixin flex($justify: center, $align: center, $gap: 0, $direction: row) {
    $justifies: (
        "center": center,
        "between": space-between,
        "around": space-around,
        "evenly": space-evenly,
        "start": flex-start,
        "end": flex-end,
    );
    $aligns: (
        "center": center,
        "start": flex-start,
        "end": flex-end,
        "baseline": baseline,
        "stretch": stretch,
    );
    $directions: (
        "row": row,
        "col": column,
    );
    display: flex;
    flex-direction: map-get($directions, $direction);
    justify-content: map-get($justifies, $justify);
    align-items: map-get($aligns, $align);
    gap: $gap + px;
}
