.HeroContainer {
  width: 100%;
  background: url(../../assets/images/bg_hero.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.HeroInner {
  height: 646px;
  margin: 0 7.7778%;
  display: grid;
  grid-template-columns: 1fr 1.25fr;
  align-content: center;
  justify-content: start;
}
.HeroInner h1 {
  font-style: normal;
  font-weight: 600;
  font-size: 4.5rem;
  line-height: 5.25rem;
}