@use "@scss/abstracts" as *;

.reputation {
    & .container-sm {
        padding-top: 60px;
    }

    & h2 {
        text-align: center;
        margin-bottom: 50px;
        color: map-get($clr-neutral, 800);
    }

    & .card-container {
        // display: grid;
        // grid-template-columns: repeat(auto-fit, minmax(min(100%, 280px), 1fr));
        @include flex($align: stretch, $wrap: true);
        gap: 72px;
        margin-bottom: 84px;

        & article {
            max-width: 280px;
        }

        @include breakpoint(lg, max) {
            gap: 62px;
        }
        @include breakpoint(md, max) {
            gap: 32px;
            padding-inline: 15px;
        }
    }
}
