@use "@scss/abstracts" as *;

.ad-section {
    background: linear-gradient(
            to right,
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)
        ),
        url("/images/ad.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    & .container {
        min-height: 300px;
        color: $clr-white;
        @include flex($justify: between);

        & .text {
            & h2 {
                line-height: 42px;
                margin-bottom: 30px;
            }
            & p > span {
                text-decoration: underline;
            }
        }
        & .ad-cta {
            & button {
                padding: 16px 20px;
                margin-left: 20px;
                background-color: transparent;
                border: 1px solid white;
            }
        }
        @include breakpoint(sm, max) {
            min-height: 450px;
            @include flex($direction: col, $gap: 20);
            & .text {
                text-align: center;
            }
            & .ad-cta {
                & button {
                    margin-left: 0px;
                }
            }
        }
    }
}
