.StatsCont {
  padding: 170px 25px 175px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
}
.InnerStats {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.InnerStats h2 {
  font-weight: bold;
  font-size: 60px;
  line-height: 70px;
  color: #2947a9;
}
.InnerStats p {
  font-size: 20px;
  line-height: 23px;
  color: #525b7a;
}
.InnerStats button {
  align-self: flex-start;
  background: #2947a9;
  color: #ffffff;
  padding: 16px 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  border: none;
  border-radius: 2px;
}

.AbsoluteStats {
  position: absolute;
  width: fit-content;
  padding: 30px 50px 30px 30px;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 12px 16px -4px rgba(17, 24, 39, 0.1),
    0px 4px 6px -2px rgba(17, 24, 39, 0.05);
  border-radius: 4px;
}
.Stats1 {
  z-index: 5;
  left: calc(50% - 361px / 2 - 327.5px);
  top: 221px;
}
.Stats2 {
  z-index: 20;
  left: calc(50% - 280px/2 - 68px);
top: 122px;
}
.Stats3 {
  z-index: 15;
  left: calc(50% - 276px / 2 - 124px);
  top: 364px;
}
.Stats4 {
  z-index: 10;
  left: calc(50% - 333px / 2 - 292.5px);
  top: 469px;
}
.AbsoluteStats h2 {
  color: black;
  font-weight: 600;
  font-size: 72px;
  line-height: 84px;
}
.AbsoluteStats p {
  color: #667299;
  font-size: 24px;
  line-height: 28px;
}

.InnerAbsolute {
  margin-left: 15px;
  display: flex;
  gap: 12px;
}
.StatsBorder {
  width: 7px;
  height: 28px;
  background: #f9995d;
}
