@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

.Container {
  width: 100%;
  font-family: 'Work Sans';
}

.InnerContainer {
  margin: 0 7.7778%;
  height: auto;
}
