@use "./styles/abstracts/index" as abstracts;

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    & h1 {
        font-family: abstracts.$work-700;
        color: abstracts.$primary;
    }
}
